# Build output
bin/
obj/
out/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log
